@import './workspace.scss';

window.bar {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: to-rem(20px);
    background-color: $base00;

    circularprogress {
        color: #8839ef;
        background-color: #cba6f7;
        font-size: to-rem(1.5px);
        min-width: to-rem(32px);

        icon {
            color: white;
        }
    }

    .border-thing {
        border: 1px solid blue;
    }

    icon {
        font-size: to-rem(22px);
    }

    .symbolic {
        color: $base05;
        font-size: to-rem(18px);
    }

    .bar-centerbox {
        min-height: to-rem(50px);
        padding-left: to-rem(20px);
        padding-right: to-rem(20px);
    }

    .bar-box {
        background-color: $base01;
        min-width: to-rem(80px);
        min-height: to-rem(35px);
        border-radius: to-rem(20px);
        margin-top: to-rem(8px);
        margin-bottom: to-rem(8px);

        &.clock-box {
            padding: 0 to-rem(15px);
        }

        .indicator-cter {
            padding: 0 to-rem(15px);
        }
    }

    .bar-label {
        color: $base04;

        &.clock {
            font-weight: 600;
        }

        &.subtitle {
            font-size: to-rem(12px);
            color: $base03;
        }
    }

    .volume-slider {
        min-width: to-rem(100px);
        margin-left: to-rem(10px);

        trough {
            background-color: $base03;
            border-radius: 10px;
        }

        highlight {
            background-color: $base09;
            min-height: to-rem(12px);
            border-radius: to-rem(20px);
        }
    }
}